/* YOUR CUSTOM STYLES */

.fa-envelope{
    color: #00FFCC;
}

.fa-user{
    color: #00FFCC;
}

.fa-tag{
    color: #00FFCC;
}

.fa-pencil{
    color: #00FFCC;
}

.space{
    height: 120px;
}

.space2{
    min-height: 500px;
}

